{% extends 'base.html.twig' %}

{% block title %}Hello HelloController!
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}


{% block body %}
    <div class="container" id="js-app">
        <div class="row">
            <div class="col">
                <div>{* message *}
                </div>
                <h2>{* title *}</h2>
                <button class="btn btn-primary" v-on:click="changeText">Say Hi</button>
            </div>
        </div>
    </div>

    <div class="container" id="app">
        <div id="students">{{ getStudents() }}</div>
        <input type="text" v-on:change="calcuate(event.value)">
        <div id="professors">{{ getProfessors() }}</div>
        <div>{{ calc }}</div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            },
            computed: {
                calc: 0
            },
            methods: {
                calculate: function (s) {
                    if (s === '-') {
                        this.calc = getStudents() - getProfessors();
                    } else if (s === '+') {
                        this.calc = getStudents() + getProfessors();
                    }
                }
            }
        })
    </script>
{% endblock %}
